body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(245, 253, 255, 1);
  font-family: "Roboto", sans-serif;
  overflow-y: scroll;
  overflow-x: hidden;
}

.App {
  overflow-x: hidden;
}
