.pillButton {
  border: solid 1px var(--primary-blue);
  color: var(--primary-blue);
  background-color: white;
  border-radius: 1000px;
  padding: 10px 14px;
  font-size: 18px;
  display: flex;
  align-items: center;
  gap: 1px;

  &[data-is-active="true"] {
    background-color: var(--primary-blue);
    color: white;
  }

  &[data-has-onclick="true"] {
    cursor: pointer;
  }

  svg {
    height: 20px;
    width: 20px;
  }
}
