.checkbox {
  display: flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;

  input {
    display: none;
  }

  span {
    width: 20px;
    height: 20px;
    border: 2px solid var(--primary-blue);
    transition: all 0.2s ease;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      width: 22px;
      height: 22px;
    }
  }

  input:checked + span {
    background-color: var(--primary-blue);
    border-color: var(--primary-blue);
  }

  input:disabled + span {
    opacity: 0.5;
    cursor: not-allowed;
    background-color: rgb(236, 236, 236);
  }
}
